{% extends "base_login.html" %}
{% load static %}
{% block content %}

    <h1 class="text-3xl font-bold text-gray-800 mb-6">
        Cadastro
    </h1>

    <form method="POST" class="space-y-5">
        {% csrf_token %}

        <div>
            <label for="nome_estabelecimento" class="block text-sm font-medium text-gray-700">Nome Estabelecimento</label>
            {{ form.nome_estabelecimento }}
        </div>

        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            {{ form.email }}
        </div>

        <div>
            <label for="segmento" class="block text-sm font-medium text-gray-700">Segmento da Sua Empresa</label>
            {{ form.segmento }}
        </div>

        <div>
            <label for="senha" class="block text-sm font-medium text-gray-700">Senha</label>
            {{ form.senha }}
        </div>

        <label for="senha_confirmacao" class="block text-sm font-medium text-gray-700">Confirme sua Senha</label>
        <input type="password" id="senha_confirmacao" name="senha_confirmacao" required
            class="w-full mt-1 px-4 py-2 border rounded-lg focus:ring-2 focus:ring-green-500 focus:outline-none" placeholder="Confirme sua senha">

        <!-- Botão -->
        <button type="submit" 
                class="w-full bg-green-600 text-white font-semibold py-2 px-4 rounded-lg hover:bg-green-700 transition">
            Cadastrar
        </button>
    </form>

    <p class="mt-5 text-sm text-gray-600">
    Já tem uma conta? 
    <a href="{% url "login" %}" class="text-green-600 hover:underline font-medium">Login</a>
    </p>

{% endblock content %}