{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1 class="text-3xl font-bold text-green-700">Formulário de Cadastro</h1>
    
    <form method="post" class="space-y-4">
        {% csrf_token %}
        
        <div>
            <label for="nome" class="block text-sm font-medium text-gray-700">Nome Produto</label>
            {{ form.nome }}
        </div>

        <div>
            <label for="categoria" class="block text-sm font-medium text-gray-700">Categoria</label>
            {{ form.categoria }}
        </div>

        <div>
            <label for="data_validade" class="block text-sm font-medium text-gray-700">Data Validade</label>
            {{ form.data_validade }}
        </div>

        <div>
            <label for="unidade_medida" class="block text-sm font-medium text-gray-700">Unidade de Medida</label>
            {{ form.unidade_medida }}
        </div>

        <div>
            <label for="quantidade_disponivel" class="block text-sm font-medium text-gray-700">Quantidade Disponível</label>
            {{ form.quantidade_disponivel }}
        </div>

        <div>
            <label for="codigo" class="block text-sm font-medium text-gray-700">Código</label>
            {{ form.codigo }}
        </div>
      
        <button type="submit" class="w-full bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-700 transition">
            Cadastrar
        </button>
    </form>

    <!-- Scipts para mascara de formatação -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>

    <script>
        $('#data_validade').mask('00/00/0000');
        $('#quantidade_disponivel').mask('#', {reverse: true});
        $('#codigo').mask('#', {reverse: true});
    </script>

{% endblock  %}